html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  /*background-color: cornsilk;*/
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  margin: 0;
  padding: 0;
  /*cursor: url("./img/img.png"), auto;*/

}
.workOutPreset{
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  height: 200%;
  width: 100%;
  background-color: white;
  backdrop-filter: opacity(20%);
}

h2{
  color: beige;
  text-align: center;
  font-size: 36px;
}

#dynamic-text-outer{
  position: fixed;
  left: 1300px;
  text-align: right;
  font-size: 24px;
  color: beige;
}

#dynamic-text-inner{
  text-align: right;
  font-size: 24px;
  color: beige;
  /*text-decoration: underline;*/
  /*background-color: rgb(100, 100, 100);*/
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


#cursorBox{
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  transform: translateX(-45%) translateY(-58%) ;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 1000;
  opacity: 0.8;
  mix-blend-mode: difference;
  border: 2px solid white;
  transition: background-color 1s ease, width 0.7s, height 0.7s, border 1s;
  /*box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);*/
}

#addNew{
  background-color: #6CB482;
}

.workOuts{
  background-color: #cccccc ;
  opacity: 20%;
  margin: 3%;
  position: relative;
  top: 5%;
  left: 2%;
  height: 12%;
  width: 90%;
  border-radius: 50px;
  transition: opacity 1s ease, height 1s ease, width 1s ease, left 1s ease;
}

#taskBar {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #222222;
  padding: 26px 10px;
  margin: 0;
}

#HomeLink{
  background-color: cadetblue;
}

#formHeading{
  font-size: 300%;
  color: #cccccc;
}

.container{
  font-size: 2em;
}

#submit{
  color: darkslategray;
  position: relative;
  top: 40px;
  left: 10%;
  width: 15em;
  height: 50px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border: none;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 10px rgba(80,80,80,1);
}

.container {
  color: #cccccc;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #555555;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
#inputBox{
  z-index: 50;
  display: none;
  background-color: #222222;
  height: 70%;
  width: 30%;
  position: absolute;
  box-shadow: 0 0 200px rgba(0, 0,0,0.3);
  border-radius: 40px;
  padding: 30px;
  box-sizing: border-box;
  left: 35%;
  top: 20%;
  transition: display 1s ease;
}

#close{
  position: absolute;
  top: 5%;
  right: 5%;
  /*background-color: #222222;*/
  background-color: #222222;
  border-radius: 50%;
  height: 10%;
  width: 12%;
  box-shadow: none;
  color: #555555;
  font-size: 40px;
  border: none;
  overflow: hidden;
  text-shadow: 0 0 30px rgba(0, 0,0,1);
  transition: background-color 1s ease;
}
/*#inputForm{*/
/*  display: block;*/
/*  background-color: #cccccc;*/
/*  height: 20%;*/
/*  width: 20%;*/
/*  position: absolute;*/
/*  left: 20%;*/
/*  top: 30%;*/
/*}*/

.weeklyCheck{
  position: relative;
  top: -60%;
  left: 10%;
  width: 5%;
  height: 5%;
}

.containerA {
  opacity: 0;
  display: inline;
  top: -30%;
  left: 10%;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 1s ease;
}

/* Hide the browser's default checkbox */
.containerA input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkA {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #eee;
  opacity: 0;
  transition: opacity 1s ease;
}

/* On mouse-over, add a grey background color */
.containerA:hover input ~ .checkmarkA {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerA input:checked ~ .checkmarkA {
  background-color: #222222;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkA:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerA input:checked ~ .checkmarkA:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerA .checkmarkA:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.workoutTitle{
  /*padding-top: 1%;*/
  padding-left: 2%;
  box-sizing: border-box;
  font-size: 10em;
}

.summaryList{
  font-size: 1.5em;
  position: absolute;
  left: 40%;
  top: 10%;
}
.imageMuscle{
  height: 100%;
  width: 30%;
  position: absolute;
  right: -10%;
  top: 0;
  background-image: url("/img/BicepImage.png");
  background-size: 60% 100%;
  background-repeat: no-repeat;
  background-position: top -200px;
}


#taskBar a{
  text-align: center;
  font-size: 24px;
  color: beige;
  padding: 26px 10px;
  text-decoration: none;
}

#taskBar img{
  height: 80px;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
}

#taskBar a:hover{
  text-align: center;
  color: #222222;
  background-color: wheat;
}


