<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/styles/upload-styles.css}" rel="stylesheet" />
  <title>Upload Recipe</title>
</head>
<body>
<form id="exercise-form" action="#" th:action="@{/submit-form}" method="post">
  <fieldset>
    <legend>Select a muscle group:</legend>
    <div th:each="muscleGroup : ${muscleGroups}">
      <input type="checkbox" th:id="${muscleGroup}" th:name="muscleGroup" th:value="${muscleGroup}" />
      <label th:for="${muscleGroup}" th:text="${muscleGroup}" />
    </div>
  </fieldset>
  <button type="submit" id="search-button">Search</button>
</form>
<fieldset>

</fieldset>


<script>
  const formEl = document.querySelector('#exercise-form') // find the form as an element
  formEl.addEventListener('submit', event => {
    event.preventDefault(); // prevents the form from resetting

    let recipe = { // we create an object for the recipe we will be pushing to the backend
      name: document.getElementById('name').value,
      author: document.getElementById('author').value,
      description: document.getElementById('description-box').value,
      prepTimeMinutes: document.getElementById('prep-time').value,
      cookTimeMinutes: document.getElementById('cook-time').value,
      tags: document.getElementById('tag-box').value.split('\n'), // we turn each line into a element in a list
      ingredients: document.getElementById('ingredient-box').value.split('\n'),
      directions: document.getElementById('direction-box').value.split('\n')
    }

    fetch("http://localhost:8080/upload",{
      method: "POST",
      headers:{
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(recipe)
    }).then(result => result.text()).then(text => alert("Successfully submitted " + recipe.name +"!"));
    console.log(recipe);
  });
</script>
</body>
</html>