<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/styles/upload-styles.css}" rel="stylesheet" />
  <title>Upload Recipe</title>
</head>
<body>
<form action="#" th:action="@{/submit-form}" method="post">
  <fieldset>
    <legend>Select a muscle group:</legend>
    <div th:each="muscleGroup : ${muscleGroups}">
      <input type="radio" th:id="${muscleGroup}" th:name="muscleGroup" th:value="${muscleGroup}" />
      <label th:for="${muscleGroup}" th:text="${muscleGroup}" />
    </div>
  </fieldset>
  <button type="submit">Search</button>
</form>

</body>
</html>