<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.name}"></title>
    <link th:href="@{/styles/recipe-styles.css}" rel="stylesheet" />
</head>
<body>
    <nav id="navbar" class="nav">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Submit a recipe</a></li>
        </ul>
    </nav>
    <main>
        <h1 th:text="${recipe.name}" id="name"></h1>
        <div id="author">By: <span th:text="${recipe.author}"></span></div>
        <hr>
        <p th:text="${recipe.description}" id="description"></p>
        <ul id="time-list">
            <li id="prep-time">⏲️ Preparation time: <span th:text="${recipe.prepTimeMinutes}"></span> minutes</li>
            <li id="cook-time">🍳 Cooking time: <span th:text="${recipe.cookTimeMinutes}"></span> minutes</li>
        </ul>
        <section id="ingredients-section">
            <h2>Ingredients</h2>
            <ul><li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient}"></li></ul>
        </section>
        <section id="directions-section">
            <h2>Directions</h2>
            <ol><li th:each="direction : ${recipe.directions}" th:text="${direction}"></li></ul>
        </section>
        <hr>
        <ul id="tags"><li th:each="tag : ${recipe.tags}" th:text="${tag}"></li></ul>
    </main>
    <section id="delete-section">
        <a th:href="@{/{name}/delete(name=${recipe.name})}"><p>Delete</p></a>
    </section>
</body>
</html>