<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Recipes</title>
    <link th:href="@{/styles/frontpage-styles.css}" rel="stylesheet" />
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
    <nav id="navbar" class="nav">
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Submit a recipe</a></li>
        </ul>
    </nav>
    <header>
        <h1>Spring Recipes</h1>
        <blockquote>
            <p>"Let food be thy medicine and medicine be thy food"</p>
            <p>-Hippocrates</p>                        
        </blockquote>
    </header>
    <main>
        <ul id="recipes-list">
            <li class="recipe-item" th:each="recipe : ${recipes}"><a th:href="@{/{name}(name=${recipe.name})}" th:text="${recipe.name}"></a></li>
        </ul>
    </main>
    <footer>
        <section id="about-project">
            <h3>About project</h3>
            <p>
                This is a website for hosting cooking recipes. You can read any of the given recipes, submit your own or delete one.
            </p>
            <p>
                This website was made as a challenge to myself to create a full-stack website
                using Java Spring Boot for the backend, REST API principles and model,
                controller, service architecture. The frontend is build using Thymeleaf, html, CSS and JavaScript.
            </p>
            <p>
                The aim of this project is to use best coding practices, object-oriented programming, modular design and code
                encapsulation principles.
            </p>
            <!-- Write about why was this made, how the website works and tech stack-->
            <!-- add Github link-->
        </section>
    </footer>
</body>
</html>