<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/styles/upload-styles.css}" rel="stylesheet" />
    <title>Upload Recipe</title>
</head>
<body>
  <nav id="navbar" class="nav">
    <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/upload">Submit a recipe</a></li>
    </ul>
  </nav>
    <header>
        <h2>Recipe Upload</h2>
    </header>
    <form id="recipe-form">
      <label for="name" id="name-label">Name of your recipe
        <input name="name" type="text" id="name" required placeholder="recipe name">
      </label>
      <label for="author" id="author-label">Your name
        <input name="author" type="text" id="author" required placeholder="author's name">
      </label>
      <label for="description-box">Add a description of your recipe
        <textarea name="description" placeholder="the description of your dish" rows="4" cols="40" id="description-box"></textarea>
      </label>
      <label for="prep-time" id="prep-time-label">Preparation time in minutes
        <input name="prepTimeMinutes" type="number" id="prep-time" min="0" required placeholder="prep time">
      </label>
      <label for="cook-time" id="cook-time-label">Cooking time in minutes
        <input name="cookTimeMinutes" type="number" id="cook-time" min="0" required placeholder="cook time">
      </label>
      <label for="ingredient-box">What ingredients does one need for this recipe?
        <textarea name="ingredients" placeholder="type each ingredient on a separate row using the enter button" rows="4" cols="40" id="ingredient-box"></textarea>
      </label>
      <label for="direction-box">How does one prepare this dish?
        <textarea name="directions" placeholder="write each direction on a separate row using the enter button" rows="4" cols="40" id="direction-box"></textarea>
      </label>
      <label for="tag-box">Add tags to this recipe
        <textarea name="tags" placeholder="each tag should be on a separate row" rows="4" cols="40" id="tag-box"></textarea>
      </label>
      <button type="submit" id="submit-button">Submit</button>
    </form>

    <script>
    const formEl = document.querySelector('#recipe-form') // find the form as an element
    formEl.addEventListener('submit', event => {
      event.preventDefault(); // prevents the form from resetting

      let recipe = { // we create an object for the recipe we will be pushing to the backend
        name: document.getElementById('name').value,
        author: document.getElementById('author').value,
        description: document.getElementById('description-box').value,
        prepTimeMinutes: document.getElementById('prep-time').value,
        cookTimeMinutes: document.getElementById('cook-time').value,
        tags: document.getElementById('tag-box').value.split('\n'), // we turn each line into a element in a list
        ingredients: document.getElementById('ingredient-box').value.split('\n'),
        directions: document.getElementById('direction-box').value.split('\n')
      }
      
      fetch("http://localhost:8080/upload",{
        method: "POST",
        headers:{
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(recipe)
      }).then(result => result.text()).then(text => alert("Successfully submitted " + recipe.name +"!"));
      console.log(recipe);
    });
  </script>
</body>
</html>